# Dependencies
node_modules

# Production build
dist/
tmp

# Logs
*.log

# Environment variables
.env

# Editor directories and files
.vscode/
.idea/

# macOS files
.DS_Store

# Optional: lock files (optional based on your preference)
package-lock.json
yarn.lock
